html{
    height: 99%;
    width: 99%;
}
body{
    height: 99%;
    width: 99%;
    display: inline-grid;
    align-items: center;
    justify-items: center;
}

#form{
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 30px;
}
#registreer{
    display:flex;
    flex-direction:row;
    color:lime;
    margin-left:50%;
}
#voornaam{
    display:flex;
    flex-direction:row;
}
 #achternaam{
    display:flex;
    flex-direction: row;
}
#geboortedatum{
    display:flex;
    flex-direction: row;
}
#nickname{
    display:flex;
    flex-direction: row;
}
#emailadres{
    display:flex;
    flex-direction: row;
}
#telefoonnummer{
    display:flex;
    flex-direction: row;
}

#input{
  margin-left:;
  align-items: center;
}
#voornaam input{
    display:flex;
    flex-direction:column;
    margin-left:62px;
}
#achternaam input{
    display:flex;
    flex-direction:column;
    margin-left:52px;
}
#geboortedatum input{
    display:flex;
    flex-direction:row;
    margin-left:30px;
}
#nickname input{
    display:flex;
    flex-direction:column;
    margin-left:64px;
}
#emailadres input{
    display:flex;
    flex-direction:column;
    margin-left:57px;
}
#telefoonnummer input{
    display:flex;
    flex-direction:column;
    margin-left:21px;
}
#button{
    display:flex;
    flex-direction:row;
    margin-left:215px;
}